<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Icreatesites4u</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" asp-controller="Home" asp-action="About" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Home" asp-action="About">Meet the Owner</a>
                        <a class="dropdown-item" href="/tools">Web Development Tools</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Send Message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>